Cantera==2.6.0a4
certifi==2021.10.8
cycler==0.11.0
fonttools==4.29.1
imageio==2.14.1
joblib==1.1.0
kiwisolver==1.3.2
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.5
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
python-dateutil==2.8.2
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
threadpoolctl==3.1.0
